extends layout

block content
	.location(style='top: #{top}; left: #{left}')
		img(src='/img/x.png')
		label #{name.toUpperCase()}
		p #{landed}
		h6 #{note}


	a(href='#{nextCity}').next
		img(src='/img/nextarrow.png')
		p NEXT